body, html				{ margin: 0; 
					  background-color: #002c5b;
					  font-family: "Alegreya sans", sans-serif;
					  font-size: 13pt;
					  font-weight: 300;
					  line-height: 18pt;
					  height: 100%; }
body > header				{ position: relative; 
					  height: 700px;
					  margin: 1em 0.5em;
					  font-weight: 400;
					  border-radius: 1em;
					  background-image: 
						linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), 
						url('https://res.cloudinary.com/kristapsdz/image/upload/q_auto,f_auto/divelog/article033/DSCN1201.jpg'); 
					  background-size: cover;
					  background-attachment: fixed;
					  background-position: 50% 80%;
					  background-repeat: no-repeat; }
h1					{ font-weight: 500; }
b, strong, h3, h4			{ font-weight: 500; }
h2					{ text-align: center; 
					  color: #444;
					  margin-top: 2em;
					  font-weight: 400; }
h2 span					{ font-weight: 500; 
					  color: #000; }
.nm					{ font-style: italic; }
a					{ color: blue; 
					  text-decoration: none;
					  border-bottom: thin solid blue; }
a.img					{ border-bottom: none; }
body > header > div			{ position: absolute;
				  	  left: 50%;
					  top: 85%;
					  width: 80%;
					  text-align: center;
					  color: #fff;
					  transform: translate(-50%, -50%);
					  -webkit-transform: translate(-50%, -50%); }
body > header > div > *			{ display: inline-block; 
					  text-shadow: 0 0 1px #000;
					  font-size: 20pt; }
body > nav				{ text-align: center;
					  color: #fff;
					  font-size: 16pt;
					  padding-top: 12pt;
					  font-variant: small-caps; }
body > nav a				{ color: inherit; 
					  margin: 0 12pt;
					  display: inline-block;
					  border-bottom: thin solid #fff; }
blockquote > code			{ display: block; }
body > article				{ padding: 1em 20%;
					  margin: 2em 0.5em;
					  background-color: #fff;
					  border-radius: 0.5em; }
body > footer				{ text-align: center;
					  font-size: smaller;
					  margin: 1em 0;
					  color: #3ea9f5; }
body > footer a				{ color: inherit; 
					  border-bottom: thin solid #3ea9f5; }
section.figures figure > *		{ display: inline-block;
					  vertical-align: top;
					  font-size: 13pt;
					  padding: 0;
					  margin: 0;
					  width: 50%; }
section.figures img			{ width: 95%; }
section.figures figure			{ padding: 8pt; 
					  margin: 0; }
figcaption h4				{ margin-top: 0; }
code					{ font-size: smaller; }
nav.figures				{ text-align: center;
					  width: 100%;
					  margin: 1em 0;
					  font-variant: small-caps; }
div.figures				{ width: 100%;
					  margin: 0 auto;
					  font-size: 0;
					  background-color: #f0f0f0;
					  border-top: thin solid #e0e0e0;
					  border-bottom: thin solid #e0e0e0;
					  position: relative;
					  overflow: hidden; }
div.figures > section.figures		{ position: relative;
					  top: 0;
					  right: 0;
					  transition: all 0.6s ease;
					  padding: 0;
					  margin: 0; }
section.figures > div 			{ float: left; }
#divecmd2grap-figures >section >div	{ width: 9.0909%; }
#divecmd2grap-figures >section 		{ width: 1100%; }
#divecmd2term-figures >section >div	{ width: 50%; }
#divecmd2term-figures >section 		{ width: 200%; }
