body, html				{ margin: 0; 
					  background-color: #fff;
					  color: #444;
					  font-family: "Alegreya sans", sans-serif;
					  font-size: 14pt;
					  font-weight: 400;
					  height: 100%; }
body > header				{ position: relative; 
					  height: 700px;
					  font-weight: 400;
					  background-image: 
						linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), 
						url('https://res.cloudinary.com/kristapsdz/image/upload/q_auto,f_auto/divelog/article079/DSC07030-clean.jpg');
					  background-size: cover;
					  background-position: 50% 25%;
					  background-repeat: no-repeat; }
h1					{ font-weight: 500; }
b, strong, h3, h4			{ font-weight: 500; }
h2					{ text-align: center; 
					  color: #444;
					  margin-top: 3em;
					  font-weight: 400; }
h2 span					{ font-weight: 500; 
					  color: #000; }
.nm					{ font-style: italic; }
a					{ color: blue; 
					  text-decoration: none; }
a.img					{ border-bottom: none; }
body > header > .title			{ position: absolute;
				  	  left: 0;
					  bottom: 4rem;
					  width: 100%;
					  text-align: center;
					  color: #fff; }
body > header > .cite			{ position: absolute;
					  bottom: 1rem;
					  left: 0;
					  color: #aaa;
					  width: 100%;
					  text-align: center; }
body > header > .cite a			{ color: #eee; }
body > header .title h1,
body > header .title .description	{ display: inline-block; 
					  text-shadow: 0 0 1px #000;
					  margin: 0;
					  font-size: 20pt; }
body > nav				{ text-align: center;
					  color: #aaa;
					  background-color: #002c5b;
					  padding: 2em 0 1em 0;
					  font-variant: small-caps; }
body > nav span				{ border-right: thin solid #aaa; 
					  margin-right: 4pt; 
					  padding-right: 4pt; }
body > nav a				{ color: #eee; 
					  display: inline-block; }
body > nav a:hover			{ color: #fff; }
blockquote > code			{ display: block; }
body > article				{ padding: 1em 20%;
					  margin: 0.5em;
					  background-color: #fff;
					  border-radius: 0.25em; }
body > article a			{ text-decoration: underline; }
body > footer				{ text-align: center;
					  padding: 2em 0;
					  font-size: smaller;
					  background-color: #002c5b;
					  color: rgba(255, 255, 255, 0.5); }
body > footer a				{ color: rgba(255, 255, 255, 0.8); }
body > footer a:hover			{ color: rgba(255, 255, 255, 1.0); }
section.figures figure > *		{ display: inline-block;
					  vertical-align: top;
					  font-size: 13pt;
					  padding: 0;
					  margin: 0;
					  width: 50%; }
section.figures img			{ width: 95%; }
section.figures figure			{ padding: 8pt; 
					  margin: 0; }
figcaption h4				{ margin-top: 0; }
code					{ font-size: smaller; }
nav.figures				{ text-align: center;
					  width: 100%;
					  margin: 1em 0;
					  font-variant: small-caps; }
div.figures				{ width: 100%;
					  margin: 0 auto;
					  font-size: 0;
					  background-color: #f0f0f0;
					  border-top: thin solid #e0e0e0;
					  border-bottom: thin solid #e0e0e0;
					  position: relative;
					  overflow: hidden; }
div.figures > section.figures		{ position: relative;
					  top: 0;
					  right: 0;
					  transition: all 0.6s ease;
					  padding: 0;
					  margin: 0; }
section.figures > div 			{ float: left; }
#divecmd2grap-figures >section >div	{ width: 8.3333%; }
#divecmd2grap-figures >section 		{ width: 1200%; }
#divecmd2term-figures >section >div	{ width: 50%; }
#divecmd2term-figures >section 		{ width: 200%; }
nav[data-sblg-nav] ul			{ margin: 0; 
					  padding: 0;
					  list-style-type: none; }
nav[data-sblg-nav] article		{ color: #666; }
nav[data-sblg-nav] > ul > li		{ opacity: 0.7; }
nav[data-sblg-nav] > ul > li:first-child 
					{ opacity: 1.0; }
body > article > :first-child		{ font-size: larger; 
					  color: #000;
				 	  line-height: 130%; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  body > header .title h1,
  body > header .title .description	{ font-size: 18pt; }
  body > article			{ padding: 1em 2%; }
  body > header				{ height: 500px;
  					  background-image: 
  						linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), 
  						url('https://res.cloudinary.com/kristapsdz/image/upload/q_auto,f_auto/divelog/article079/DSC07030-clean.jpg');
  					  background-position: 75% 25%; }
  body > nav				{ font-size: inherit; }
  body > nav span			{ border-right: none;
					  margin: 0;
					  padding: 0;
					  display: block; }
  blockquote				{ margin: 1em 0; }
}
